BOT_TOKEN=

#HOST=localhost
#PORT=8000
#NODE_ENV=development
#LOG_LEVEL=debug

POSTGRES_HOST=localhost # Change to "database" if using docker
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
POSTGRES_PORT=5432